/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* all formats */
body { 
  font-family: 'Figtree', sans-serif;
}


.cvdate {
  float: right;
  font-style: italic
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

/* adapt stylesheet for print
from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* for page-breaks use style spans
  page-break-before: always;
  page-break-after: always;
*/

@media print {
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-center {
        content: counter(page)
      }
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }

  .contact-block {
      margin-top: 0%;
      text-align: center;
  }

  html {
    font-family: 'Figtree', sans-serif;
  }

  header {
    margin-block-end: 5em;
  }
  header h1.title {
      display: none;
  }
  header .author {
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-block-end: 0em;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  h2 {
    font-weight: 900;
    text-transform: uppercase;
    /* color: blueviolet; */
  }

  h3 {
    font-weight: 700;
    text-transform: uppercase;
    /* color: green; */
  }

  p {
    font-size: small;
  }

  ul li{
    font-size: smaller;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #36a7e9;
  }
}

.floating-btn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    z-index: 9999; /* Ensures it's above other elements */

}
.floating-btn:hover {
    background-color: #c82333;
}
